:root {
    --clr : white;
    --backclr: #282c34;
    --borderclr: lightgray;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    width: auto;
    height: auto;
    padding: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}

#main
{
    display: grid;
    height: 100%;
    width: 100%;
    gap: 0.5rem;
    grid-template-rows: 10% 90%;
    grid-template-columns: 70% 30%;
}

#side
{
    border: 1px solid var(--borderclr);
}


#sidebar
{
    grid-column: 1;
    grid-row: 1;

    border: 1px solid var(--borderclr);
    background-color: var(--backclr);
    border-radius: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0.5rem;
}

#scode
{
    grid-column: 1;
    grid-row: 2;
    border: 1px solid var(--borderclr);
}


/* #output
{
    display: grid;
    height: 100%;
    grid-template-rows: 50% 50%;
    border-radius: 10px;
} */


#sidebar1 {
    /* border: 1px solid var(--clr); */
    grid-column: 2;
    grid-row: 1 / 3;
    background-color: var(--backclr);
    padding: 1rem 1rem 1rem 1rem;
}

/* 
h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: cursive;
} */

#code-text {
    padding: 0.3rem;
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    margin: 0rem;
}

button:hover {
    background-color: darkgray;
}

#rst {
    margin-right: 0.5rem;
}

button {
    font-size: 20px;
    border-radius: 7px;
    border: 1.5px solid rgb(143, 142, 142);
    background-color: var(--borderclr);
    text-align: center;
    width: 5rem;
    height: 2.5rem;
}

#lang {
    margin-right: auto;
    margin-left: 0.5rem;
    font-size: 18px;
    width: 10rem;
    border-radius: 0.5rem;
}

pre {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    height: inherit;
    width: inherit;
    overflow:auto;
    border: 1px solid black;
    border-radius: 0.5rem;
    background-color: var(--clr);
    padding: 0.5rem;
}

label {
    font-size: 1.5rem;
    color: var(--clr);
}

#sidebar1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
}

#cont-input, #cont-output {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding: 0.2rem;

}

.box {
    flex-grow: 1;
    margin: 0.2rem;
    border-radius: 5%;
}